body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(157, 180, 188);
}

.container{
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 200px;
    background: rgb(210, 208, 132);
    padding: 30px;
    border-radius: 10px;
}
h2{
    margin-bottom: 20px;
    color: rgb(15, 111, 155);
 text-decoration: underline;
}
input{
    width: 70%;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.btn{
    width: 20%;
    height: 42px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: rgb(15, 111, 155);
    color: white;
}
.delete{
    margin-bottom: 20px;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: rgb(102, 10, 4);
}
ol li {
    margin: 15px;
    font-size: 20px;
}